.footer_box {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer_box h4 {
  color: #f4f5f7;
  margin-bottom: 25px;
}

@media screen and (min-width: 650px) {
  .footer_box {
    width: 50%;
    height: 13rem;
    text-align: left;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 900px) {
  .footer_box {
    width: 20%;
    height: 13rem;
    text-align: left;
    margin-bottom: 0px;
  }
}
