.specials_list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

@media screen and (min-width: 600px) {
  .specials_list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
