.google-play {
  width: 100px;
  height: 30px;
  background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../assets/artwork.png);
  margin-right: 8px;
  margin-bottom: 15px;
}
